.background {
    &:hover {
        background-color: azure;
    }

    &:active {
        background-color: lightblue;
    }

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.sub-active {

    section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        button {
            width: 5rem;

            padding: 0.2rem;

            font-weight: 400;

            border-radius: 1px;
            border: 1px solid gray;
            color: gray;
            background-color: transparent;

            &:hover {
                background-color: gray;
                color: white;
            }

            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }

    pre {
        width: 95%;

        text-decoration: none !important;

        border-radius: 3px;
        border: 1px solid lightgray;
        background-color: #FAFAFA;

        color: darkslategray;
        font-size: 0.93rem;

        padding: 1rem;
        margin: 0.2rem;
    }
}

@media screen and (max-width: 1199px) {
    .sub-active pre {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 599px) {

}