#main-ul {
    width: 100%;
    margin: 0;
    padding: 1rem;
    list-style: none;

    #main-li {
        margin-bottom: 3rem;

        #main-title {
            font-size: 0.9rem;
            font-weight: 500;
            color: #404040;
        }

        #main-content {
            font-size: 0.9rem;
            font-weight: 350;
            color: #404040;
        }

        #sub-ul {
            width: 50%;
            margin: 0;
            padding: 0.2rem 0 0.2rem 0;
            list-style: none;

            #sub-li {
                width: 100%;
                padding: 0;
                margin: 0;

                border-bottom: 1px solid lightgray;

                p {
                    font-size: 0.8rem;
                    font-weight: 300;

                    color: black;
                    text-align: left;
                    margin-left: 0;
                    padding-left: 0;
                }

                #sub-title {
                    width: 30%;
                }
            }
        }
    }
}

.inactive {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.active {
    color: cadetblue !important;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        p {
            color: cadetblue !important;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    pre {
        width: 100%;
        border: 1px solid lightgray;
        background-color: #f5fbfe;
        color: black;
        font-size: 0.7rem;
        padding: 1rem;
        margin: 0.2rem;
        overflow: visible;
        white-space: pre-wrap;
        word-break: break-all;
    }
}

.background {
    &:hover {
        background-color: azure;
    }

    &:active {
        background-color: lightblue;
    }
}