.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;

  p,
  pre {
    overflow: visible;
    white-space: pre-wrap;
    word-break: break-all;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}