.balance-list-resp-container {
    width: 100%;

    margin: 0;
    padding: 0;

    ul {
        list-style: none;
        width: 100%;

        padding: 0;
        margin: 0;

        li {
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;

            padding: 0.1rem 0 0.1rem 0;
            margin: 0;

            border-bottom: 0.5px solid lightgray;

            p {
                text-decoration: none;

                font-size: 0.9rem;
                font-weight: 350;

                color: cadetblue;

                &:hover {
                    text-decoration: underline;
                }
            }

            p:nth-child(1) {
                width: 20%;
                letter-spacing: 0.5px;
                text-align: start;
            }

            p:nth-child(2) {
                width: 80%;
                letter-spacing: 1px;
                text-align: end;
            }

            &:hover {
                background-color: azure;
            }

            &:active {
                background-color: lightblue;
            }

            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }

    section {
        width: 100%;

        margin: 1rem 0 1rem 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button {
            width: 6rem;

            padding: 0.5rem;

            font-size: 1rem;
            color: white;
            background-color: lightsteelblue;

            border-radius: 2px;
            border: 0px solid transparent;

            &:hover {
                background-color: cornflowerblue;
            }

            &:active {
                background-color: darkcyan;
            }

            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }
}

@media screen and (max-width:899px) {
    .balance-list-resp-container {
        ul li {
            padding: 0;

            p {
                font-size: 0.8rem;
            }

            p:nth-child(1) {
                width: 15%;
            }

            p:nth-child(2) {
                width: 85%;
            }
        }

        section button {
            width: 5rem;
            padding: 0.4rem;

            font-size: 0.9rem;
        }
    }
}