.block-list-resp-container {
    width: 100%;

    margin: 0;
    padding: 0;

    ul {
        list-style: none;
        width: 100%;

        padding: 0;
        margin: 0;

        li {
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;

            padding: 0;
            margin: 0;

            border-bottom: 0.5px solid lightgray;

            #block-list-resp-title,
            #block-list-resp-content {
                text-decoration: none;

                font-size: 0.9rem;
                font-weight: 350;

                color: cadetblue;

                &:hover {
                    text-decoration: underline;
                }
            }

            &:hover {
                background-color: azure;
            }

            &:active {
                background-color: lightblue;
            }
        }
    }

    section {
        width: 100%;

        margin: 1rem 0 1rem 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button {
            width: 5rem;
            padding: 0.4rem;

            font-size: 0.9rem;
            color: white;
            background-color: lightsteelblue;

            border-radius: 2px;
            border: 0px solid transparent;

            &:hover {
                background-color: cornflowerblue;
            }

            &:active {
                background-color: darkcyan;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .block-list-resp-container {
        display: none;
    }
}

@media screen and (max-width: 735px) {
    .block-list-resp-container ul li {
        #block-list-resp-content {
            font-size: 0.7rem;
        }

        #block-list-resp-title {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 570px) {
    .block-list-resp-container ul li #block-list-resp-content {
        font-size: 0.6rem;
    }
}