.operation-list-resp-container {
    width: 100%;

    margin: 0;
    padding: 0;

    ul {
        list-style: none;
        width: 100%;

        padding: 0;
        margin: 0;

        li {
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;

            padding: 0;
            margin: 0;

            border-bottom: 0.5px solid lightgray;

            #operation-list-resp-title,
            #operation-list-resp-content {
                text-decoration: none;

                font-size: 0.9rem;
                font-weight: 350;
                letter-spacing: 0.5px;

                color: cadetblue;

                &:hover {
                    text-decoration: underline;
                }
            }

            #operation-list-resp-content:nth-child(1) {
                width: 30%;
            }

            #operation-list-resp-content:nth-child(2) {
                width: 70%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover {
                background-color: azure;
            }

            &:active {
                background-color: lightblue;
            }

            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }

    section {
        width: 100%;

        margin: 1rem 0 1rem 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button {
            width: 5rem;
            padding: 0.4rem;

            font-size: 0.9rem;
            color: white;
            background-color: gray;

            border-radius: 2px;
            border: 0px solid transparent;

            &:hover {
                background-color: lightslategray;
            }

            &:active {
                background-color: lightgray;
            }

            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }
}

@media screen and (min-width: 900px) {
    .operation-list-resp-container {
        display: none;
    }
}

@media screen and (max-width: 685px) {
    .operation-list-resp-container ul li #operation-list-resp-content {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 599px) {
    .operation-list-resp-container ul li {
        #operation-list-resp-content {
            font-size: 0.75rem;
        }

        #operation-list-resp-content:nth-child(1) {
            width: 35%;
        }

        #operation-list-resp-content:nth-child(2) {
            width: 65%;
        }
    }
}